.product ul {
    list-style-type: none;
    padding-left: 0px;
}

.product ul li img {
    height: 100px;
    width: 150px;
}

.product ul{
    border: 1px solid #ddd;
    padding: 10px;
}

.summery {
    border: 1px solid #ddd;
    padding: 10px;
}

.summery ul {
    list-style-type: none;
    padding-left: 0px;
}

.summery ul li {
    display: flex;
    justify-content: space-between;
}