<div class="container d-flex justify-content-center">
    <div class="card col-md-5 justify-content-center align-items-center p-5 m-5 ">
        <h1 class="addprodheading">ADD PRODUCT</h1>

        <form #addProduct="ngForm" (ngSubmit)="newProd(addProduct.value)">
            <p class="text-success">{{addProductMessage}}</p>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter Product Name" ngModel name="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter Product Price" ngModel name="price">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter Product Category" ngModel name="category">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter Product Color" ngModel name="color">
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" placeholder="Enter Product Description" ngModel name="desc"></textarea >
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter Product Image URL" ngModel name="image">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" >Add Product</button>
            </div>
        </form>
    </div>
</div>