<div class="container mt-5">
    <div class="row border-bottom">
        <div class="col-sm-2">
            <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>OrderID</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>        
    </div>
    <div class="row mt-3 border-bottom" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img class="cart-img" src="https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=1RRQJs5NDhcB67necQn1WCpJX2YMfWZ4rYi1DFKlkNA=" alt="">
        </div>
        <div class="col-sm-2">
            <span>#SCS00{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>In process</span>
        </div>
        <div class="col-sm-2">
            <span><button class="btn btn-danger" (click)="cancelOrder(order.id)">Cancel Order</button></span>
        </div>        
    </div>
   
</div>