/* You can add global styles to this file, and also import other style files */
.form-group{
    margin-top: 12px;
}
.nav-link{
    color: blueviolet !important;
}
.form-control{
    color: blueviolet !important;
}